.chat-page {
  background-color: rgb(31, 29, 29);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-container {
  background-color: white;
  width: 50%;
  height: 60%;
  background-image: url(../Images/bg-img.jpg);
}
.header {
  background-color: #4cbb74;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-container {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.chat-head {
  /* margin: 2.5vmax; */
  font-size: 30px;
}
.chatLogo {
  width: 5.5vmax;
}
.close-icon {
  width: 1.3vmax;
  cursor: pointer;
  margin: 2vmax;
  transition: all 0.3s;
}
.close-icon:hover {
  transform: scale(1.2);
}
.chat-box {
  /* border: 2px solid black; */
  padding: 5px;
  height: 70%;
  box-sizing: border-box;
}
.input-box {
  /* border: 2px solid black; */
  height: 15%;
  box-sizing: border-box;
  display: flex;
}
#chatInput {
  width: 80%;
  border: none;
  padding: 1.5vmax;
  box-sizing: border-box;
  background-color: white;
  outline: none;
  font-size: 20px;
  border-top: 0.2vmax solid rgb(191, 187, 187);
}
.send-btn {
  width: 20%;
  background-color: #4cbb74;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .send-btn:hover{
    background-color: rgb(49, 246, 49);
} */
.send-logo {
  width: 2.7vmax;
  filter: brightness(100) invert();
  transition: all 0.3s;
}
.send-btn:hover .send-logo {
  transform: translateX(10px);
}
